@model SD.IdentitySystem.Presentation.Models.Menu

@{
    ViewBag.Title = "修改菜单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <link type="text/css" href="~/Content/css/Common/Form.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/scripts/Menu/Update.js"></script>
}

<div style="width: 100%; height: 100%; float:left; margin: 0;">
    <div class="easyui-panel" data-options="footer:'#footer'" style="width: 100%; height: 423px; padding: 10px;">
        <form id="frmUpdateMenu">
            <input type="hidden" name="menuId" value="@Model.Id" />
            <table id="tbAdd" style="margin: 0 auto;">
                <tr>
                    <td class="tdTitle">信息系统：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="text" data-options="disabled:true,width:210" value="@Model.InfoSystemName" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">应用程序类型：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="text" data-options="disabled:true,width:210" value="@Model.ApplicationTypeName" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">上级菜单：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="text" data-options="disabled:true,width:210" value="@ViewBag.ParentName" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">菜单名称：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="text" name="menuName" data-options="required:true,width:210" value="@Model.Name" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">排序：</td>
                    <td class="tdContent">
                        <input class="easyui-numberbox" name="sort" data-options="required:true,width:210" value="@Model.Sort" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">链接地址：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="text" name="url" data-options="width:210" value="@Model.Url" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">路径：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="text" name="path" data-options="width:210" value="@Model.Path" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">图标：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="text" name="icon" data-options="width:210" value="@Model.Icon" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="footer" style="padding: 5px;">
        <div style="float: right;">
            <a href="#" onclick="updateMenu();" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'" style="width:90px">确定</a>
            <a href="#" onclick="javascript: $.easyuiExt.closeWindow();" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" style="width:90px">取消</a>
        </div>
    </div>
</div>
